body {	
	background-color: green;
}
section {
	width: 100%;
	padding-bottom: 5px;
}
.logopic {
	width: 40%;
}
p, footer {
	margin-top: 10px;
	font-size: 20px;
	font-family: Ariel;
	margin-left: 10px;
}
footer {
	margin-top: 30px;
}

.paragraph {
	width: 50%;
}

/*-------------------------------------TITLE----------------------------*/

.body {
	width: 80%;
	margin: auto;
	background-color: white;
}
.head {
	float: right;
	margin-right: 20px;
	margin-top: 80px;
	font-family: Calibri;
	font-size: 50px;
}

/*-------------------------------LINK BAR---------------------------------*/

.links {
	background-color: green;
}
ul {
	list-style-type: none;
	display: flex;
	text-align: center;
	padding: 0px;
	margin-left: 0px;
	font-family: Calibri;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#l {
	width: 30%;
	z-index: 9;
}
.newpic {
	position: absolute;
	z-index: 10;
	margin-top: -3%;
}

/*-------------------------------STICKER SHOP PVZ-----------------------------------------*/

.stickerinputs {
	font-size:20px;
}

.stickerpic {
	width:30%;
	display: block;
}

.stickerbox {
	display: block;
}

.stickernumber {
	width:30px;
	font-size:30px;
	text-align: center;
	margin-left: 0px;
	margin-bottom: -5%;
}

#add, #addorder {
	font-size:30px;
	margin-left:10%;
	border-radius:5px;
	width: 80px;
}

#subtract, #subtractorder {
	font-size:30px;
	margin-right:10%;
	border-radius:5px;
	width: 80px;
}


.orderstickers {
	font-size: 60px;
}

/*-------------------------------Pic 1-----------------------------------------*/

.pic1 {
	width: 40%;
	float: right;
	margin-top: -550px;
	margin-right: 20px;
}

/*--------------------------------Email Info--------------------------------*/

.orderhead {
	text-align: center;
}

.emailInfo {
	text-align: center;
	font-size: 20px;
}
option, select {
	font-size: 20px;
}

.cost {
	margin-left: 20%;
	font-size: 15px;
}

#calculate {
	font-size: 22px;
}

.sendButton {
	float: right;
	margin-right: 10%;
	margin-top: 15px;
	font-size: 30px;
}

.dress3 {
	font-size:20px;
}

.addylist {
	list-style-type: none;
	display: flex;
	text-align: center;
	font-size: 20px;
}

textarea {
	resize: none;
}

/*--------------------------------Special-------------------------------------*/

.special {
	text-align: center;
	font-size: 20px;
}

/*---------------------------------Orders------------------------------------*/

.olist {
	width: 30%;
}

.orderlist {
	list-style-type: none;
	display: flex;
	text-align: center;
	font-size: 30px;
}

.order1 {
	font-size: 20px;
}

.form1 {
	text-align: center;
}

.amount1title {
	font-size: 30px;
	text-decoration: underline;
}

.order2 {
	text-align: center;
	font-size: 20px;
}
.amount2title {
	font-size: 30px;
	text-decoration: underline;
}

.order3 {
	font-size: 20px;
}

.form3 {
	text-align: center;
}

.amount3title {
	font-size: 30px;
	text-decoration: underline;
}

.optional {
	color: red;
	font-size: 15px;
}

.optional2 {
	color: red;
	font-size: 16px;
	text-align: center;
	margin-top: -15px;
}

/*--------------------------------Reviews----------------------------*/

ol {
	text-align: left;
	list-style-type: none;
}
.reviews {
	margin-left: 10px;
	margin-right: 10px;
}
h4 {
	margin-left: 45px;
}


/*-------------------------------SURVEY BUTTONS---------------------------*/

/*#originalbutton {
	margin-left: 100px;
}
#garlicbutton {
	margin-left: 170px;
}
#spicybutton {
	margin-left: 180px;
}
.counters {
	margin-top: 20px;
}
#counter {
	font-size: 20px;
	margin-left: 70px;
}
#counter2 {
	margin-left: 100px;
	font-size: 20px;
}
#counter3 {
	margin-left: 130px;
	font-size: 20px;
}*/
